{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block title %}
    Administration - Classe
{% endblock %}

{% block content %}
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% for alert in alertTypeAvaillable %}
        {% for message in app.session.getFlashBag.get(alert) %}
            <div class="alert alert-{{ alert }}" >
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <a href="{{ path('admin_category_add') }}" class="btn btn-add">{{ 'Ajouter une classe' }}</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th> {{ 'Classe' }} </th>
            <th> {{ 'Action' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td> {{ classe.categName }} </td>
                <td>
                    <a href="{{ path('admin_category_delete', {'classe': classe.categId}) }}" class="btn btn-table btn-del">Supprimer</a>
                    <a href="{{ path('admin_category_edit', {'classe': classe.categId}) }}" class="btn btn-table btn-edit">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '0 etudiant.' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
