{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
    <a href="{{ path('admin_teacher_add') }}" class="btn btn-add">{{ 'Ajouter un prof' }}</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th> {{ 'Nom' }} </th>
            <th> {{ 'Prenom' }} </th>
            <th> {{ 'Matière' }} </th>
            <th> {{ 'Action' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for prof in profs %}
            <tr>
                <td> {{ prof.name }} </td>
                <td> {{ prof.firstName }} </td>
                <td> {{ prof.subject.nameSubject }} </td>

                <td>
                    <a href="{{ path('admin_teacher_delete', {'prof': prof.teacherId}) }}" class="btn btn-table btn-del">delete</a>
                    <a href="{{ path('admin_teacher_edit', {'prof': prof.teacherId}) }}" class="btn btn-table btn-edit">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '0 Prof.' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
