{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block title %}
    Administrateur
{% endblock %}

{% block content %}
    <div class="metro">
        <a class="metro-pomegranate" href="{{ path('admin_etudiants') }}">Etudiant</a>
        <a class="metro-wisteria" href="{{ path('admin_teachers') }}">Professeur</a>
        <a class="metro-pumkin" href="{{ path('admin_categories') }}">Classe</a>
        <a class="metro-nephritis" href="{{ path('admin_subjects') }}">Cours</a>
        <a class="metro-blue" href="{{ path('admin_users') }}">Utilisateurs</a>
    </div>
{% endblock %}
