{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block title %}
    Classe
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th> {{ 'Classe' }} </th>
            <th> {{ 'Formation' }} </th>
        </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td> {{ classe.categName }} </td>
                <td> {{ classe.formation.nameFormation }} </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '0 etudiant.' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
