{% extends 'layout.html.twig' %}
{% set active = 'form' %}

{% block title %}
    Administration
{% endblock %}

{% block content %}
        {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}" >
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h2 class="form-title">{{ title }}</h2>

        <form action="" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {{ form_widget(form) }}
        </form>

{% endblock %}