{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
   <table class="table table-hover">
      <thead>
      <tr>
         <th> {{ 'Nom' }} </th>
         <th> {{ 'Prenom' }} </th>
         <th> {{ 'Classe' }} </th>
      </tr>
      </thead>
      <tbody>
      {% for etudiant in etudiants %}
         <tr>
            <td> {{ etudiant.name }} </td>
            <td> {{ etudiant.firstName }} </td>
            <td> {{ etudiant.category.categName }} </td>
         </tr>
      {% else %}
         <tr>
            <td>{{ '0 etudiant.' }}</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
{% endblock %}
