{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block title %}
   Administration - Etudiants
{% endblock %}

{% block content %}
   <a href="{{ path('admin_etudiant_add') }}" class="btn btn-add">{{ 'Ajouter un étudiant' }}</a>
   <table class="table table-hover">
      <thead>
      <tr>
         <th> {{ 'Nom' }} </th>
         <th> {{ 'Prenom' }} </th>
         <th> {{ 'Classe' }} </th>
         <th> {{ 'Action' }}</th>
      </tr>
      </thead>
      <tbody>
      {% for etudiant in etudiants %}
         <tr>
            <td> {{ etudiant.name }} </td>
            <td> {{ etudiant.firstName }} </td>
            <td> {{ etudiant.category.categName }} </td>
            <td>
               <a href="{{ path('admin_etudiant_delete', {'etudiant': etudiant.studentId}) }}" class="btn btn-table btn-del">Supprimer</a>
               <a href="{{ path('admin_etudiant_edit', {'etudiant': etudiant.studentId}) }}" class="btn btn-table btn-edit">Editer</a>
            </td>
         </tr>
      {% else %}
         <tr>
            <td>{{ '0 etudiant.' }}</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
{% endblock %}
