{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block title %}
    Cours
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th> {{ 'Nom' }} </th>
            <th> {{ 'Volume' }} </th>
            <th> {{ 'Coefficient' }} </th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td> {{ subject.nameSubject }} </td>
                <td> {{ subject.timeVolume }} </td>
                <td> {{ subject.coefficient }} </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '0 etudiant.' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
