{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th> {{ 'Nom' }} </th>
            <th> {{ 'Prenom' }} </th>
            <th> {{ 'Classe' }} </th>
            <th> {{ 'Action' }} </th>

        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td> {{ teacher.teacherName }} </td>
                <td> {{ teacher.teacherFirstName }} </td>
                <td> {{ teacher.idSubject}} </td>
                <td>
                    <a href="{{ path('admin_teacher_delete', {'teacher': teacher}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '0 professeur.' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}