{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th> {{ 'Nom' }} </th>
            <th> {{ 'Prenom' }} </th>
            <th> {{ 'Matière' }} </th>
        </tr>
        </thead>
        <tbody>
        {% for prof in profs %}
            <tr>
                <td> {{ prof.name }} </td>
                <td> {{ prof.firstName }} </td>
                <td> {{ prof.subject.nameSubject }} </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '0 Prof.' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
