{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th> {{ 'Nom' }} </th>
            <th> {{ 'Prenom' }} </th>
            <th> {{ 'Matière' }} </th>
            <th> {{ 'Action' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td> {{ teacher.name }} </td>
                <td> {{ teacher.firstName }} </td>
                <td>
                    <a href="{{ path('admin_teacher_delete', {'teacher': teacher.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '0 etudiant.' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
